.header
  position: relative
  z-index: 1

  @include lg
    display: none

  &__top
    @include aic-jfcsb

  .contacts
    @include aic

    &__item
      margin-right: rem(35)
      color: $white

      &:last-child
        margin-right: 0

      &:hover
        color: $primary

  &__bottom
    @include aic-jfcsb
    margin-top: rem(20)

  &__bottom-col
    &:last-child
      @include aic

  .nav
    @include aic

    &__item
      list-style: none
      margin-right: rem(35)

      a
        color: $white

        &:hover
          color: $primary
.lang
  @include aic
  background: $white
  border-radius: rem(12)
  max-width: rem(110)
  min-width: rem(110)
  width: 100%
  overflow: hidden

  @include xs
    max-width: rem(80)
    min-width: rem(80)
    border-radius: rem(6)


  &__item
    max-width: rem(55)
    width: 100%
    height: rem(32)
    @include aic-jcc
    border-radius: rem(12)
    font-size: rem(14)
    font-weight: 500
    color: $tertiary
    position: relative

    @include xs
      max-width: rem(40)
      height: rem(25)
      font-size: rem(12)

    span
      position: relative
      z-index: 1

    &::before
      position: absolute
      content: ''
      width: calc( 100% - 4px )
      height: calc( 100% - 4px )
      background: linear-gradient(270deg, #FEB707 0%, #FCD76C 100%)
      border: 2px solid $secondarylight
      border-radius: rem(12)
      z-index: 0
      transition: $transition
      
      @include xs
        border-radius: rem(6)

    &:first-child
      &::before
        left: 100%

      &.lang__item_active
        &::before
          left: 0

    &:last-child
      &::before
        right: 100%

      &.lang__item_active
        &::before
          right: 0

    &_active
      cursor: default
      z-index: 9

      &:hover
        color: $tertiary

.header-sticky
  position: fixed
  width: 100%
  top: -100%
  left: 0
  background: $white
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.15)
  transition: $transition
  padding: rem(12) 0
  z-index: 4
  
  @include lg
    top: 0
  
  .container
    max-width: rem(1400)

    @include lg
      max-width: rem(960)

  .lang
    background: $secondarylight
    box-shadow: 0 4px 16px rgba(0,0,0,.15)

  &.sticky-on
    top: 0

  &__flex-wrap
    @include aic-jfcsb

  &__flex-item
    width: 33.33%

    &:nth-child(2)
      @include aic-jcc
    
    &:last-child
      @include aic-jfcfe
      


  &__logo
    max-width: rem(150)
    width: 100%
    @include aic-jcc

  &__control-panel
    @include aic-jcc

.hamburger
  max-width: rem(30)
  min-width: rem(30)
  height: rem(20)
  position: relative
  transform: rotate(0deg)
  transition: .5s ease-in-out
  cursor: pointer

  span
    display: block
    position: absolute
    height: rem(2)
    width: 100%
    background: $secondary
    border-radius: rem(9)
    opacity: 1
    left: 0
    transform: rotate(0deg)
    transition: .25s ease-in-out

    &:nth-child(1)
      top: 0

    &:nth-child(2)
      top: rem(10)

    &:nth-child(3)
      top: rem(20)

  &.open

    span
      &:nth-child(1)
        top: rem(10)
        transform: rotate(135deg)

      &:nth-child(2)
        opacity: 0
        left: rem(-60)

      &:nth-child(3)
        top: rem(10)
        transform: rotate(-135deg)
