.hero
  min-height: rem(705)
  padding: rem(25) 0 0
  position: relative
  z-index: 1
 
  
  @include lg
    min-height: rem(500)
    padding: rem(90) 0 rem(30)
    overflow: hidden

  &::before
    position: absolute
    content: ''
    width: 100%
    height: calc( 100% - 40px )
    background: conic-gradient(from 191.34deg at 79% 73.72%, #A050D0 -11.1deg, #8A48F4 45.67deg, #B28AFD 124.53deg, #8647F5 166.55deg, #D17B6A 230.43deg, #FEFAFB 301.43deg, #A050D0 348.9deg, #8A48F4 405.67deg)
    top: 0

    @include lg
      height: 100%


  .container
    position: relative

  &__elem
    position: absolute
    top: rem(-25)
    left: rem(-156)
    
    @include lg
      top: rem(-50)


    svg
      path
        animation: strokeOffset 5s linear forwards
        fill: none
        stroke-dasharray: 1636.488525390625
        stroke-dashoffset: 1636.488525390625

    @keyframes strokeOffset
      to
        stroke-dashoffset: 0


  p
    color: $white
    
    @include lg
      font-size: rem(17)
    
    @include md
      font-size: rem(16)
      line-height: normal

    br
      @include lg
        display: none
  
  &__flex-col
    @include lg
      width: 100%

    &:first-child
      margin-right: rem(30)
      
      @include lg
        margin-right: 0
        max-width: calc( 55% - 15px )
      
      @include sm  
        max-width: 100%

    .arch    
        

      &::before
        height: calc( 100% - 40px )
        box-shadow: -100px 50px 100px rgba(254, 211, 105, 0.15), 100px 50px 100px rgba(139, 73, 244, 0.15)
        border-radius: rem(185) rem(185) rem(55) rem(55)
        

        @include lg
          height: calc( 100% - 35px )
          border-radius: rem(165) rem(165) rem(50) rem(50)

        @include md
          height: calc( 100% - 25px )
          border-radius: rem(120) rem(120) rem(35) rem(35)

        @include sm
          height: calc( 100% - 28px )
          border-radius: rem(130) rem(130) rem(40) rem(40)

        


    &:last-child
      @include lg
        @include jfcfe
        max-width: calc( 45% - 15px )
      
      @include sm  
        display: none
  
  &__flex-wrap
    margin-top: rem(70)
    @include aife-jfcsb

    @include lg
      margin-top: 0

    @include sm    
      flex-direction: column
    

  &__title
    line-height: rem(80)
    margin-bottom: rem(45)
    
    @include lg
      line-height: rem(68)
      margin-bottom: rem(25)

    @include md
      line-height: rem(58)
      margin-bottom: rem(20)

    @include sm
      line-height: rem(48)
      margin-bottom: rem(15)

    @include xs
      line-height: rem(38)
      margin-bottom: rem(10)
  

  &__callback  
    margin-top: rem(40)
    position: relative
    z-index: 1

  .callback  
    @include aic
    
    @include lg
      margin-bottom: 0

    @include sm
      justify-content: center  

    &__btn
      color: $white
      font-size: rem(17)
      font-weight: 500
      @include aic-jcc
      display: inline-flex
      margin-left: rem(40)

      @include lg
        margin-left: rem(35)
      
      @include md
        margin-left: rem(30)

      @include sm
        margin-left: rem(20)
      
      @include xs
        margin-left: rem(15)

      &:hover
        color: $primary

        .callback__btn-icon 
          border-color: $primary
          background: $secondary

    &__btn-icon
      background: $white
      border-radius: 100%
      border: rem(2) solid $secondarylight
      min-width: rem(50)
      max-width: rem(50)
      height: rem(50)
      @include aic-jcc 
      margin-right: rem(15)
      transition: $transition 

      @include lg
        min-width: rem(45)
        max-width: rem(45)
        height: rem(45)
        margin-right: rem(12)
      
      @include md
        min-width: rem(40)
        max-width: rem(40)
        height: rem(40)
        margin-right: rem(8)

      svg
        width: 70%
        height: 70%

  
    