footer.footer
  .container
    .footer__top
      .footer__wrap 
        .footer__col
          a.footer__logo.logo(href="#")    
            include ../includes/logo-dark
          .text
            p Мы проконсультируем вас обо всех возможностях реализации проекта,поможем найти <br> поставщика, осуществить закупку, доставку и таможенное оформление.Уважаемые <br> коллеги, вы можете положиться на наш профессионализм!  
        
        .footer__col
          .title.title_h4.title_secondary Полезное
          ul 
            li 
              a(href="#") О нас
            li 
              a(href="#") Преимущества
            li 
              a(href="#") Контакты
        .footer__col
          .title.title_h4.title_secondary Все услуги
          ul 
            li 
              a(href="#") Логистика
            li 
              a(href="#") торговля
            li 
              a(href="#") Эуспедиция
        .footer__col
          .title.title_h4.title_secondary Помощь
          ul 
            li
              a(href="#") ЧАВО
            li
              a(href="#") центр поддержки
            li
              a(href="#") Связаться с нами

    .footer__bottom 
      .footer__wrap
        .footer__col
          p 2020-2023 cloudberries. Все права защищены
        .footer__col
          ul 
            li 
              a(href="#") условия & соглашения
            li 
              a(href="#") политика конфендециальности






















