.header-sticky 
  .container 
    .header-sticky__flex-wrap
      .header-sticky__flex-item
        .hamburger
          span
          span
          span  
      
      .header-sticky__flex-item
        a.header-sticky__logo(href="#") 
          include ../includes/logo-dark

      .header-sticky__flex-item
        .lang
          a(href="#").lang__item.lang__item_en.lang__item_active
            span Eng
          a(href="#").lang__item.lang__item_ru
            span Рус 